NEXT_API_URL=https://example.com


# Sentry
# @see https://docs.sentry.io/platforms/javascript/guides/nextjs/manual-setup/
SENTRY_DSN=https://ad3d06d00d624e78acd5694a3097a6a4@sentry.optimap.id/28
# get the values here https://docs.sentry.io/platforms/javascript/guides/nextjs/manual-setup/#configure-sentry
-cli
SENTRY_URL=https://sentry.optimap.id/
SENTRY_ORG=optimap
SENTRY_PROJECT=kemdikbud-gsms-landingpage
# get the auth token here https://sentry.io/settings/account/api/auth-tokens/
SENTRY_AUTH_TOKEN=cfbe223e3f3c48b593bce57007c7a0613dc110e308c04037bb5864ee488286a0
# if you get an an error that the file could not be found, note that this is a
# false-positive error
# @see https://github.com/getsentry/sentry-do
cs/issues/3721
# @see https://github.com/getsentry/sentry-javascript/issues/3691#issuecomment-868377000
SENTRY_SERVER_INIT_PATH=.next/server/sentry/initServerSDK.js

